*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  --colorDark1: #112D4E;
  --colorDark2: #3F72AF;
  --colorLight1: #DBE2EF;
  --colorLight2: #F9F7F7;
  --placeholderColor: #DBE2EF;
  --transition-speed: 0.3s;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--colorLight2);
  background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.tab-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.weather-container {
  margin-bottom: 2.5rem;
  text-align: center;
}

.btn {
  all: unset;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--colorDark2);
  cursor: pointer;
  padding: 12px 35px;
  transition: background-color var(--transition-speed);
  color: var(--colorLight2);
  text-align: center;
}

.btn:hover {
  background-color: var(--colorDark1);
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grant-location-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
  gap: 20px;
}

.form-container {
  width: 200%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 1.5rem;
  position: relative;
}

.form-container .btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.form-container input {
  flex: 1;
  padding: 15px;
  border: 1px solid var(--colorLight1);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--colorLight2);
  color: var(--colorDark1);
  transition: border-color var(--transition-speed);
  width: 100%; /* Make the input field take up the full available width */
  max-width: 500px; /* Set a maximum width for the input field */
margin-left: -120px;
}

.form-container input:focus {
  border-color: var(--colorDark2);
}


.form-container input::placeholder {
  font-size: 1rem; /* Adjusts the font size of the placeholder */
  padding-left: 10px; /* Adds padding to the left of the placeholder text */
  text-align: left; /* Aligns the placeholder text to the left */
  opacity: 0.8; /* Adjusts the transparency of the placeholder */
  color: var(--black); /* Sets the color of the placeholder */
  white-space: nowrap; /* Prevents the placeholder text from wrapping */
  font-style: italic;
  
}


.user-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  align-items: flex-start;
  text-align: left;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.leftElements {
  display: flex;
  flex-direction: column;
  gap: 0px;
  flex: 1;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.name p {
  font-size: 1rem; /* Adjust the size of the text */
  font-weight: bold; /* Make the text bold */
  color: var(--colorLight2); /* Set the color of the text */
  margin-left: 5px; /* Adjust the space between the image and the paragraph */
  margin-top: 2px; /* Adjust the space between the top of the paragraph and its container */
  line-height: 1.5; /* Adjust the line height for better readability */
  align-self: flex-start; /* Align the paragraph to the start of the flex container */
}


.name img {
  width: 40px; /* Adjust the width of the image */
  height: 40px; /* Adjust the height of the image */
  margin-right: 10px; /* Space between the image and the adjacent elements */
  border-radius: 50%; /* Example: makes the image circular */
  object-fit: cover; /* Ensures the image fits within the specified dimensions */
}


.description {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 2.3rem;
  font-weight: bold;
}

.rightElements {
  display: flex;
  gap: 20px; /* Space between each parameter card */
  justify-content: flex-start;
  align-items: center; /* Align items horizontally */
  flex-shrink: 0;
}

.parameter {
  width: 250px;
  height: 250px;
  background-color: rgba(219, 226, 239, 0.6);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-speed);
}

.parameter:hover {
  transform: scale(1.05);
}

.parameter img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 15px;
}

.parameter p:first-of-type {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.parameter p:last-of-type {
  font-size: 1rem;
  font-weight: 200;
}
